* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  font-family: "Lora", serif;
}

nav {
  background-color: #d6ccc2;
  position: fixed;
}

body {
  background-color: #f5ebe0;
}

footer {
  font-family: "Lora", serif;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.integrantes {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lora", serif;
  gap: 2rem;
  padding: 1rem;
  align-content: center;
}

.integrantes__div {
  display: grid;
  grid-template-areas: "titulo" "foto" "texto";
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media screen and (min-width: 1024px) {
  .integrantes__div {
    display: grid;
    grid-template-areas: "titulo titulo" "foto texto";
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
  }
}
.integrantes__titulo {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  font-family: "Lora", serif;
  margin-top: 2rem;
}

.integrantes__div h2 {
  grid-area: titulo;
  margin-top: 3.5rem;
}

.integrantes__div img {
  grid-area: foto;
}

.integrantes__div p {
  grid-area: texto;
}

.integrantes__parrafo {
  display: inline-block;
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: auto;
  align-items: flex-start;
  justify-content: right;
  transform: translateY(2rem);
}

.integrantes__aside {
  display: flex;
  width: 100%;
  padding: 3rem 2rem;
  flex-direction: column;
  height: 100%;
  border-radius: 50%;
}

#charly__img {
  display: flex;
  width: 100%;
  padding: 3rem 2rem;
  flex-direction: column;
  height: 100%;
  border-radius: 50%;
}

.intro {
  display: grid;
  grid-template-areas: "titulo" "foto" "parrafo" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media screen and (min-width: 1024px) {
  .intro {
    grid-template-areas: "titulo titulo" "foto parrafo" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  .intro__parrafo {
    padding-top: 64px;
    width: 30rem;
    transform: translateY(2rem);
  }
  .intro__imagen {
    padding: 0%;
    width: 600px;
  }
}
.intro__titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  font-family: "Lora", serif;
  margin-top: 32px;
}

.intro__imagen {
  grid-area: foto;
  width: 100%;
  padding: 48px 32px;
}

.intro__parrafo {
  grid-area: parrafo;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: auto;
  align-items: flex-start;
  font-family: "Lora", serif;
}

.pieDePagina {
  grid-area: footer;
}

#historiaSeccion {
  padding: 3rem;
}

.historia__iframe {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.discografia__iframe {
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
