* {
    margin: 0;
    padding: 0;
}

a {

    color: black;
    font-family: $font-family;
}


nav {
    background-color: $color-oscuro;
    position: fixed;

}

body {
    background-color: $color-claro;
}

footer {
    font-family: $font-family;
    margin: 3rem;
    display: flex;

    align-items: center;
    justify-content: left;
    position: fixed;
}