#historiaSeccion {
    display: grid;
    grid-template-areas: "titulo" "video" "parrafo";
    grid-template-columns: 100% 100% 100%;
    grid-template-rows: auto auto auto;
    padding: ($espaciado-grande)-16px;

}

.historia__iframe {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: ($espaciado-grande)-16px;
    grid-area: video;
}

.historia__parrafo {
    grid-area: parrafo;
    @extend .integrantes__parrafo
}

.historia__titulo {
    grid-area: titulo;
    @extend .integrantes__titulo
}