.intro {
    @include mobile-first-intro
}

@media screen and (min-width: 1024px) {
    .intro {
        grid-template-areas: "titulo titulo"
            "foto parrafo"
            "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    .intro__parrafo {
        padding-top: $espaciado-grande;
        width: 30rem;
        transform: translateY(2rem);
    }

    .intro__imagen {
        padding: 0%;
        width: 600px;

    }
}


.intro__titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    font-family: $font-family;
    margin-top: $espaciado-chico;
}

.intro__imagen {
    grid-area: foto;
    width: 100%;
    padding: ($espaciado-grande)-16px $espaciado-chico
}

.intro__parrafo {
    grid-area: parrafo;
    padding: 1rem;
    @extend .integrantes__parrafo
}

.pieDePagina {
    grid-area: footer;
}